<div class="home-container">
 
  <div class="artist-grid">
  <div *ngFor="let artist of artists" class="artist-card" [routerLink]="['home/artists/', artist.id,'albums']">
        <h2 class="artist-name">{{artist.name}}</h2>
        
        <div class="genre-container">
            <span *ngFor="let genre of artist.genres" class="genre-badge">{{genre}}</span>
        </div>

        <div class="biography-section">
            <span class="biography-label">Biography</span>
            <p class="biography-text">
                {{artist.biography}}
            </p>
        </div>
    </div>
</div>

</div>
