<div class="theme-wrapper">

  <div class="artist-grid">
    @for (artist of artists; track artist) {
      <div class="artist-card" [routerLink]="['artists/', artist.id,'albums']">
        <h2 class="artist-name">{{artist.name}}</h2>
        <div class="genre-container">
          @for (genre of artist.genres; track genre) {
            <span class="genre-badge">{{genre}}</span>
          }
        </div>
        <div class="biography-section">
          <span class="biography-label">Biography</span>
          <p class="biography-text">
            {{artist.biography}}
          </p>
        </div>
      </div>
    }
  </div>

</div>
