<div class="profile-container">
  <div class="profile-card">
    <h2>Korisnički Profil</h2>
    <p class="subtitle">Pregled tvojih podataka</p>

    @if (userData) {
      <div class="info-group">
        <label>Korisničko ime (Email)</label>
        <div class="info-value">{{ userData.username }}</div>
        <button (click)="changePsw()">Promenite sifru</button>
        @if (errorMessage) {
          <div class="error-message">
            {{ errorMessage }}
          </div>
        }

        @if (successMessage) {
          <div class="success-message">
            {{ successMessage }}
            <br>
            <br>
            <a (click)="resend()">Niste primili mejl?</a>
          </div>
        }
      </div>
    }

    @if (userData) {
      <div class="info-group">
        <label>Uloga</label>
        <div class="info-value role-badge">{{ userData.role }}</div>
      </div>
    }

    @if (!userData) {
      <div class="error-message">
        Nema podataka o korisniku. Molimo ulogujte se.
      </div>
    }
  </div>
  <app-notification-list></app-notification-list>
</div>
