<nav class="navbar">
  <div class="nav-brand">Hear We Go</div>
  <div class="nav-links">
    @if (isAdmin) {
      <div class="dropdown">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
          Admin Panel ▼
        </button>
        <div class="dropdown-menu" [class.show]="dropdownOpen">
          <a routerLink="/artists" (click)="closeDropdown()">Artists</a>
          <a routerLink="/songs" (click)="closeDropdown()">Songs</a>
          <a routerLink="/albums" (click)="closeDropdown()">Albums</a>
        </div>
      </div>
    }
    @if (authService.isAuthenticated()) {
      <a routerLink="/home" class="profile-link">Početna</a>
    }
    @if (authService.isAuthenticated()) {
      <a routerLink="/profile" class="profile-link">
        Profil
        @if ((notificationService.unreadCount$ | async)! > 0) {
          <span class="notification-dot"></span>
        }
      </a>
    }
    @if (!authService.isAuthenticated()) {
      <a routerLink="/login">Prijava</a>
    }

    @if (authService.isAuthenticated()) {
      <button (click)="onLogout()" class="btn-nav-logout">
        Odjavi se
      </button>
    }
  </div>
</nav>
