<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Adresa</th>
    <th>Status</th>
    <th>Datum</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
    @for (RegistrationRequest of registrationRequests; track RegistrationRequest.id) {
      <tr>
        <td>{{ RegistrationRequest.email }}</td>
        <td>{{ RegistrationRequest.address }}</td>
        <td>{{ RegistrationRequest.status }}</td>
        <td>{{ RegistrationRequest.createdAt[2] }}.{{ RegistrationRequest.createdAt[1] }}
          .{{ RegistrationRequest.createdAt[0] }}
        </td>
        <td>
          @if (RegistrationRequest.status == 'PENDING') {
            <button (click)="accept(RegistrationRequest.id)" matButton="outlined">Prihvati</button>
            <button (click)="reject(RegistrationRequest.id)" matButton="outlined">Odbij</button>

          } @else {
            <p>Status je {{ RegistrationRequest.status }} !</p>
            @if (RegistrationRequest.status == 'REJECTED') {
              <p>Razlog odbijanja: {{ RegistrationRequest.rejectionReason }}</p>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>


