<div class="main-container">
  <div class="form-card">

    <p class="subtitle">Izmenite album</p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Naziv</label>
        <input type="text" id="title" name="title" [(ngModel)]="title" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="genre">Zanr</label>
        <input type="text" id="genre" name="genre" [(ngModel)]="genre" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="releaseDate">Datum Objave</label>
        <input type="date" id="releaseDate" name="releaseDate" [(ngModel)]="releaseDate" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="artistIds">Umetnici (drzite ctrl za selektovanje vise umetnika)</label>
        <select
          id="artistIds"
          name="artistIds"
          [(ngModel)]="artistIds"
          class="form-control"
          multiple
          required>
          @for (artist of artists; track artist) {
            <option [value]="artist.id">
              {{ artist.name }}
            </option>
          }
        </select>
      </div>

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }

      <button type="submit" class="btn-submit">Submit</button>
    </form>

  </div>
</div>


